<!doctype html>
<html xmlns:th="http://www.tymeleaf.org" lang="it">

<head>
<title>faccia libro</title>
<meta charset="utf-8">

</head>

<body>

	<h1>dettagli utente</h1>

	<p th:text="${utenteSelezionato}"></p>




	<table>
		<thead>
			<tr>
				<th>data</th>
				<th>titolo</th>
				<th>testo</th>

			</tr>
		</thead>

		<tbody>
			<tr th:each="p :${listaPost}">

				<td th:text="${p.dataCreazione}"></td>
				<td th:text="${p.titolo}"></td>


				<td th:text="${p.testo}"></td>


			</tr>
		</tbody>
	</table>
	<a href="/facciaLibro/">home</a>
</body>

</html>