<!doctype html>
<html xmlns:th="http://www.tymeleaf.org" lang="it">

<head>
<title>Nuovo Utente</title>
<meta charset="utf-8">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
	rel="stylesheet">

<link href="/css/stile.css" rel="stylesheet">
</head>

<body>
	<div>
		<div class="intestazione">




			<a href="/facciaLibro/" class="titolo_h1">FacciALibrO</a> <a
				id="utente" href="/utente/"><img id="icoUtente"
				src="/image/icoUtente.png"> </a>

		</div>

		<div class="dettagliUtente">

			<h2 class="titolo">modifica</h2>


			<form th:action="@{/utente/} + ${utenteDaModificare.id}"
				th:method="POST">
				<div id="contenuto_incolonnato">
					<div id="formParametro">
						<p id="p_inline">Nome:</p>
					</div>
					<div>
						<input id="inputCentro" type="text" name="nome"
							th:value="${utenteDaModificare.nome}">
					</div>
				</div>
				<br>


				<div id="contenuto_incolonnato">
					<div id="formParametro">
						<p id="p_inline">Cognome:</p>
					</div>
					<div>
						<input id="inputCentro" type="text" name="cognome"
							th:value="${utenteDaModificare.cognome}">

					</div>
				</div>

				<br>

				<div id="contenuto_incolonnato">
					<div id="formParametro">
						<p id="p_inline">anno di nascita:</p>
					</div>
					<div>
						<input id="inputCentro" type="text" name="annoNascita"
							th:value="${utenteDaModificare.annoNascita}">
					</div>
				</div>
				<br>


				<div id="contenuto_incolonnato">
					<div id="formParametro">
						<p id="p_inline">via:</p>
					</div>
					<div>
						<input id="inputCentro" type="text" name="indirizzo.via"
							th:value="${utenteDaModificare.indirizzo.via}">
					</div>
				</div>
				<br>


				<div id="contenuto_incolonnato">
					<div id="formParametro">
						<p id="p_inline">civico:</p>
					</div>
					<div>
						<input id="inputCentro" type="text" name="indirizzo.civico"
							th:value="${utenteDaModificare.indirizzo.civico}">
					</div>
				</div>



				<br>
				<div id="contenuto_incolonnato">
					<div id="formParametro">
						<p id="p_inline">comune:</p>
					</div>
					<div>
						<input id="inputCentro" type="text" name="indirizzo.comune"
							th:value="${utenteDaModificare.indirizzo.comune}">
					</div>
				</div>

				<br>

				<div id="contenuto_incolonnato">
					<div id="formParametro">
						<p id="p_inline">provincia:</p>
					</div>
					<div>
						<input id="inputCentro" type="text" name="indirizzo.provincia"
							th:value="${utenteDaModificare.indirizzo.provincia}">
					</div>
				</div>
				<br>

				<div id="contenuto_incolonnato">
					<div id="formParametro">
						<p id="p_inline">primo telefono:</p>
					</div>
					<div>
						<input id="inputCentro" type="text" name="telefono[0].numero"
							th:value="${utenteDaModificare.telefono[0].numero}">
						
					</div>
				</div>

				<br>
				<div id="contenuto_incolonnato">
					<div id="formParametro">
						<p id="p_inline">secondo telefono:</p>
					</div>
					<div>
						<input id="inputCentro" type="text" name="telefono[1].numero"
							th:value="${utenteDaModificare.telefono[1].numero}">
					</div>
				</div>
				<br> <input type="submit">

			</form>


		</div>
	</div>

	<div id="pieDiPagina">

		<p>
			FacciaLibro<br>Stefano Ricci<br>versione 1.0.0
		</p>
	</div>
</body>

</html>