@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap')
	;

body {
	background-image: url('/image/lavagna2.jpg');
	background-size: cover;
	background-size: 100% 100%;
	/*background-repeat: no-repeat;*/
	font-family: "Roboto", Verdana, sans-serif;
	width: 80%;
	margin: auto;
	margin-top: 60px;
	padding: 5%;
}

.titolo_h1{
	display: inline;
	font-family: "Lobster";
	font-size: 50px;
	color: #ffe8a9;
	text-decoration: none;
}

.titolo {
	display: inline;
	font-family: "Lobster";
	font-size: 40px;
	color: #ffe8a9;
	text-decoration: none;
}

.numeroDati {
	display: inline;
	text-align: right;
	margin-left: 72%;
	font-size: 25px;
	color: red;
}

#pieDiPagina{
	text-align: center;
}
#pieDiPaginaPost{
	margin-top:25%;
	text-align: center;
}

#icoUtente {
	width: 15%;
    margin-left: 8%;
    margin-bottom: 0%;
    margin-right: -4%;
}
#iconaUtenteTitolo{
	    margin-right: 0%;
    margin-left: auto;
}
#utente {
	display: inline;
	text-align: right;
	margin-left: 76%;
	font-family: "Lobster";
}

#registrati {
	display: inline;
	text-align: right;
	margin-left: -13%;
	font-family: "Lobster";
}

.tebellaAllargata {
	margin: auto;
	border: solid;
	border-radius: inherit;
	border-color: #303082a1;
	border-block-start: none;
}

#contenuto_incolonnato {
	display: flex;
	flex: 50%;
	flex-direction: row;
/* 	margin: -1%; */
	margin-top: 2px;
}

#formParametro{
	width: 20%;
}

.colonna {
	padding: 4%;
	border-style: solid;
	margin-top: 10px;
	border-radius: 5px;
	text-align: center;
	padding-top: 2px;
	margin: 1%;
	box-shadow: 2px 5px 12px #4c2525;
	border-style: groove;
	border-color: coral;
	box-shadow: 2px 5px 12px #4c2525;
}

.intestazione {
	/*background:#b9e8c8;*/
	/* 	background-image: url('/image/lavagna.jpg'); */
	background-repeat: round;
	border-radius: 5px;
	box-shadow: 2px 5px 12px #4c2525;
	text-shadow: 2px 2px 2px dimgrey;
	border-style: groove;
	border-color: coral;
}

.dettagliUtente {
	background-image: url('/image/lavagna.jpg');
	background-repeat: round;
	border-radius: 5px;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2px;
	padding-bottom: 2%; margin-top : 2%;
	box-shadow: 2px 5px 12px #4c2525;
	border-style: groove;
	border-color: coral;
	text-align: left;
	color: burlywood;
	margin-top: 2%;
}


#sfondo_lavagna{
	background-image: url('/image/lavagna.jpg');
	background-repeat: round;
}
.contorno {
	/*background-color: #f1d3a0;*/
	background-repeat: round;
	border-radius: 5px;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2px;
	padding-bottom: 2%; margin-top : 2%;
	box-shadow: 2px 5px 12px #4c2525;
	border-style: groove;
	border-color: coral;
}

.contornoOld {
	/*background-color: #f1d3a0;*/
	background-image: url('/image/lavagna.jpg');
	background-repeat: round;
	border-radius: 5px;
	text-align: center;
	padding-top: 2px;
	margin-top: 2%;
	box-shadow: 2px 5px 12px #4c2525;
	border-style: groove;
	border-color: coral;
}

.cornice {
	background-image: url('/image/lavagna.jpg');
	background-repeat: round;
	border-radius: 5px;
	text-align: center;
	padding-top: 2px;
	margin-top: 8px;
	box-shadow: 2px 5px 12px #4c2525;
	border-style: groove;
	border-color: coral;
	height: 700px;
}

.tabella {
	background-color: #ffffff00;
	border-radius: 5px;
	margin: 1%;
	border: solid;
	border-radius: inherit;
	border-color: #ef7a5057;
}
.lineaRossa{
	color:red;
}
#centro{
	display:inline;
	text-align: center;
	 color: #ab5535;
    background: #f0f8ff00;
        border: none;
}
#formCreazione{
	margin-bottom: 2px;
}
#inputCentro{
	margin-right: 25%;
}
#filtro{
	
	background-color: #ffffff00;
	border-radius: 5px;
	margin: 1%;
	border: solid;
	border-radius: inherit;
	border-color: #ef7a5057;
	    width: fit-content;
}
#nomeLink{
	color:#922e09;
	text-decoration: none;
	
}
#cerca{
	
	    color: #ab5535;
    background: #f0f8ff00;
        border: none;
}

#testo_filtro{
	    background: bisque;
    border-radius: 10%;
}

#p_inline {
	display: inline;


}

#nome {
	background-color: cadetblue;
	/* 	border-radius: 5px; */
}

.nomeContenuto {
	background-color: #afdadc7d;

	/* 	border-color: #92c8cac7; */
	/* 	border-style: solid; */
}

#titoloCommento {
	background-color: darksalmon;
	/* 	border-radius: 5px; */
}

.titoloPostContenuto {
	background-color: #f3d2c873;
	/* 	border-style: solid; */
	/* 	border-color: #f3baa7; */
}

#post {
	background-color: #9494f1;
	/* 	border-radius: 5px; */
}

#trasparenza_linea {
	color: blue;
}

.postContenuto {
	background-color: #ccccfba6;
	/*     border-style: solid; */
	/*     border-color: #d3d3fb00; */
}

@
keyframes rotazione { 100% {
	transform: rotate(360deg);
}

.numeroPost {
	color: orange;
}

.logIniziale {
	margin-left: 50%;
}
}